<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/1.css">
 </head>
<body>
  <div id="countdown">5</div>
  <div class="container">
    <h1>Добро пожаловать на страницу наконец-то выполненного задания по Node.js!</h1>
    <p>
      <a class="main-link" href="/admin">Статьи</a>
      <a class="main-link" href="/news">Новости</a>
    </p>
  </div>
  <script src="/js/script.js"></script>
</body>
</html>