<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/1.css">
</head>
<body>
    <h1 id="newsDetailTitle"><%= news.titleNews %></h1>
    <p id="newsText"><%= news.textNews %></p>
    <p style="text-align: center"><a href="/news">Вернуться к списку новостей</a></p>
</body>
</html>